/* Alap stílusok */
:root {
    --dark: #181818;
    --light: #ebebeb;
    --grey: #999999;
}

body {
    background-color: var(--dark);
    color: var(--light);
}

/* Bevezetéshez stílusok */

/* Ábrázoláshoz stílusok */
.rep-elements {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.rep-element {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid var(--light);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 1s ease;
}

.inspected {
    box-shadow: 0px 0px 10px 5px var(--grey);
}

.correct-position {
    background-color: var(--light);
    color: var(--dark);
}

@keyframes mozgasFel {
    0% {
        top: 0
    }

    100% {
        top: -50px
    }
}

/* Adatok stílusai */